.pagini{
    height: 400px;
    /* max-height: auto; */
    display: inline-block;
}
legend{
    display: block;
  padding-left: 2px;
  padding-right: 2px;
  border: none;
}
footer{
    padding: 10px;
  margin: 0;
  background: #282C35;
  color: rgba(253, 252, 252, 0.774);
  font-size: 12px;
}
.margenscimabaixo{
    margin: 20px 0px 30px 0px;
}
.margemtopfooter{
    margin-top: 30px;
}
body{ /* Mudar a cor disto */
    background-color: rgb(255, 228, 197);
}
.imagemFundo {
    background-image: url("./images/logoMad.png");
    background-size: cover;
    background-color: darkgoldenrod;
}
.image{
    width: 100%;
}
.image:hover {
    src: url("./images/faviconMGJ.png");
    background-color: rgb(127, 127, 172);
    border-radius: 30px;
    /* -webkit-transform: scaleX(-1);
    transform: scaleX(-1); */
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif, Times, serif;
}
/*Mapa*/
#map{
   height: 200px;
   width: 100%;
}
.espaco{
    border: 1px solid brown;
    border-radius: 5px;
}
#containerJogos > div:nth-of-type(even) {
    background-color: rgb(186, 186, 214);
}
#containerJogos > div{
    margin: 20px 0px 20px 0px;
    border: 1px solid black;
}
ul.list-inline > li {
    margin: 5px 0px 5px 0px;
}