.pagini{
    height: 400px;
    /* max-height: auto; */
    display: inline-block;
}
legend{
    display: block;
  padding-left: 2px;
  padding-right: 2px;
  border: none;
}
footer{
    padding: 10px;
  margin: 0;
  background: #282C35;
  color: rgba(253, 252, 252, 0.774);
  font-size: 12px;
}
.margenscimabaixo{
    margin: 20px 0px 30px 0px;
}
.margemtopfooter{
    margin-top: 30px;
}
.imagemFundo {
    background-image: url("./images/logoMad.png");
    background-size: cover;
    background-color: darkgoldenrod;
}
.image{
    width: 100%;
}
.image:hover {
    src: url("./images/faviconMGJ.png");
    background-color: rgb(127, 127, 172);
    border-radius: 30px;
    /* -webkit-transform: scaleX(-1);
    transform: scaleX(-1); */
}
body{
    /* font-family: Verdana, Geneva, Tahoma, sans-serif, Times, serif; */
    font-family: helvetica;
    background-color: white;
}
/*Mapa*/
#map{
   height: 200px;
   width: 100%;
}
.espaco{
    border: 1px solid brown;
    border-radius: 5px;
}
#containerJogos > div:nth-of-type(even) {
    background-color: rgb(186, 186, 214);
}
#containerJogos > div{
    margin: 20px 0px 20px 0px;
    border: 1px solid black;
}
ul.list-inline > li {
    margin: 5px 0px 5px 0px;
}
.divInfoRegulamento {
    /* border: 2px solid #282C35; */
    border-radius: 50px;
    background-color: wheat; 
    height: auto;
    min-height: 500px;
}
.divInsc {
    border-radius: 50px;
    background-color: wheat; 
}
.devilhr{
    border: 2px solid black;
    border-radius: 50px;
    width: 100%;
    animation: 5s infinite alternate irrequieto;
}
@keyframes irrequieto {
    from {
        width: 100%;
        border: 2px solid black;
    }
    to {
        width: 0%;
        border: 2px solid blue;
    }
}
.a{
    height: auto;
    min-height: 500px;
}
#c1, #c2 {
    background-color: black;
} 
/* @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
} */

/*Css página Admin*/
.card-equipa{
    margin-bottom: 1rem;    
}
.card-equipa  ul {
    list-style-type: none;
}
/* #searchTeamTable{
    width: fi;
} */
.iconsNav-diretita{
    border: 2px solid red;
    border-radius: 15px;   
}