.pagini{
    height: 400px;
    /* max-height: auto; */
    display: inline-block;
}
legend{
    display: block;
  padding-left: 2px;
  padding-right: 2px;
  border: none;
}
footer{
    padding: 10px;
  margin: 0;
  background: #282C35;
  color: rgba(253, 252, 252, 0.774);
  font-size: 12px;
}
.margenscimabaixo{
    margin: 20px 0px 30px 0px;
}
.margemtopfooter{
    margin-top: 30px;
}
.imagemFundo {
    background-image: url("./images/logoMad.png");
    background-size: cover;
    background-color: darkgoldenrod;
}
.image{
    width: 100%;
}
.image:hover {
    src: url("./images/faviconMGJ.png");
    background-color: rgb(127, 127, 172);
    border-radius: 30px;
    /* -webkit-transform: scaleX(-1);
    transform: scaleX(-1); */
}
body{
    /* font-family: Verdana, Geneva, Tahoma, sans-serif, Times, serif; */
    font-family: helvetica;
    background-color: white;
}
/*Mapa*/
#map{
   height: 200px;
   width: 100%;
}
.espaco{
    border: 1px solid brown;
    border-radius: 5px;
}
#containerJogos > div:nth-of-type(even) {
    background-color: rgb(186, 186, 214);
}
#containerJogos > div{
    margin: 20px 0px 20px 0px;
    border: 1px solid black;
}
ul.list-inline > li {
    margin: 5px 0px 5px 0px;
}
.divInfoRegulamento {
    /* border: 2px solid #282C35; */
    border-radius: 50px;
    background-color: wheat; 
    height: auto;
    min-height: 500px;
}
.divInsc {
    border-radius: 50px;
    background-color: wheat; 
}
.devilhr{
    border: 2px solid black;
    border-radius: 50px;
    width: 100%;
    animation: 5s infinite alternate irrequieto;
}
@keyframes irrequieto {
    from {
        width: 100%;
        border: 2px solid black;
    }
    to {
        width: 0%;
        border: 2px solid blue;
    }
}
.a{
    height: auto;
    min-height: 500px;
}
#c1, #c2 {
    background-color: black;
} 
/* @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
} */

/*Css página Admin*/
.card-equipa{
    margin-bottom: 1rem;    
}
.card-equipa  ul {
    list-style-type: none;
}
/* #searchTeamTable{
    width: fi;
} */
.iconsNav-diretita{
    border: 2px solid red;
    border-radius: 15px;   
}
div.regulamento p {
    margin-bottom: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}
div.regulamento {
    border-radius: 30px;
    background-color: rgba(87, 87, 241, 0.507);
}
div.regulamento > h1 {
    font-weight: bolder;
    font-family: comic;
}
div.divBotoes {
    margin-top: 20px;
}
button.btn-dark {
    /* color: rgb(214, 65, 65); */
}


/* CSS para o formulário da página das inscrições */
div.divForm {
    margin-top: 20px;
}
div.formInicial {
    border: 1px solid rgb(175, 165, 165);
    border-radius: 20px;
    padding: 10px;
    margin: 2% 10%;
}
h1.progessNumber{
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    cursor: default;
}
button#btn-next-step, button.cancelar { /* Butão de passar para o form seguinte*/
    margin-top: 20px;
}
h3.ar {
    margin-top: 20px;
}
div.form-check.form-check-inline > input{
    margin-right: 5px;
    width: inherit;
}
ul.areas-atuacao li h5:hover{
    color: red;
    cursor: pointer;
}
div.listar-areas-atuacao{
    /* display: none; */
}
div.listar-areas-atuacao > button.btn {
    color: yellow;
}
a.regulamentobtn {
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
a.regulamentobtn:hover {
    color: red !important;
}
/*Fui buscar*/
.trigger {
    padding: 1px 10px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 10px;
    background-color: rgba(27, 44, 192, 0.623);
    color: #212121;
    display: inline-block;
    margin: 2px 5px;
  }
  
  .hoverable, .trigger {
    transition: box-shadow 0.55s;
    box-shadow: 0;
  }
  
  .hoverable:hover, .trigger:hover {
    transition: box-shadow 0.45s;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
/**/
i.far.fa-times-circle:hover {
    color: red;
    border-radius: 10px;
    /* padding-left: 10px; */
}
i.far.fa-times-circle {
    padding-left: 5px;
}
.areaTags, .areaOutra {
    cursor: pointer;
}
.areaOutra {
    display: none;
}
div.formInicial {
    display: none;
}
#help1, #help2, #help3 {
    border: 1px solid red !important;
    border-radius: 5px;
}
tbody#tabelaEquipas tr {
    font-weight: bold;
    font-size: 18px;
}
tbody#tabelaEquipas tr:hover {
    background-color: rgba(255, 255, 0, 0.836);
}
tbody#tabelaEquipas tr:active {
    background-color: rgba(0, 128, 0, 0.541);
}
td.teamfilled {
    color: green;
}